.chat-room{
    width: 100%;
    height: 90%;
}
.chat-room .messages-container{
    height: 84%;
    background-color: var(--chat-color);
    box-sizing: border-box;
    padding: 10px 0;
    overflow-y: scroll;
}

form{ 
    padding: 0;
    width: 100%;
    display: flex;
}
.chat-room .messenger{
    width: 100%;
    display: flex;
    height: 15%;
}

.messenger textarea{
    resize: none;
    background-color: var(--dark-blue);
    border: none;
    width: 80%;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.messenger button{
    width: 20%;
}

.message{
    display: flex;
    margin: 10px 10px 20px 10px;
}
.message .user-icon{
    width: 30%;
    max-width: 40px;
}
.message .user-icon img{
    width: 100%;
    border-radius: 50%;
}
.message-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 200px;
    max-width: 450px;
}

.message-text{
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 10px;
    margin-left: 10px;
}

.message-details{
    padding: 0 5px 0 20px;
    text-align: right;
    color: var(--light-gray);
    font-weight: bold;
    font-size: 15px;
}
