.navbar{
    display: flex;
    width: 100%;
    height: 12%;
    background-color: var(--dark-blue);
    color: var(--light-gray)
}
.navbar .user-info{
    width: 70%;
    display: flex;
    align-content: center;
}
.navbar .user-info .user-name{
    width: 50%;
    align-self: center;
    font-weight: 600;
    margin-left: 20px;
}
.navbar .user-info .user-avatar{
    margin: 15px 10px 10px 10px;
    width: 50%;
    max-width: 60px;
    height: 90%;
    max-height: 60px;
}
.navbar .user-info .user-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: 4px;
}
.navbar .user-tools{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.navbar .user-tools .exit-button{
    /* justify-self: center; */
    align-self: center;
    margin-right: 10px;
    text-align: right;
    margin-top: 15px;
    font-size: 35px;
}

.exit-button:hover{
    cursor: pointer;
    color: var(--aqua-marin);
}