.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-form{
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--dark-blue);
    color: #C5C6C7;
    padding: 50px 30px;
    box-sizing: border-box;
    box-shadow: 4px 7px 8px 7px #0b0c10c4;
}

.login-form button{
    padding: 15px;
    margin-top: 50px;
    background-color: transparent;
    color: #C5C6C7;
    font-weight: bold;
    font-size: 18px;
    border: #66FCF1 solid 2px;
    box-sizing: border-box;
}

.login-form button:hover{
    cursor: pointer;
    background-color: #181921;
}

.login-form button svg{
    font-size: 30px;
    margin-bottom: -8px;
    margin-right: 5px;
}
