:root{
    --dark-blue: #0b0c10;
    --mid-dark-blue: #1f2833;
    --light-gray: #c5c6c7;
    --aqua-marin: #66fcf1;
    --dark-aqua-marin: #45A29E;
    --chat-color: #0b0c104d;
    --mine-message: #346bb1;
    --not-mine-message: #3d4461;
}

*{
    margin: 0;
}
body{
    background-color: var(--mid-dark-blue);
}

.dashboard{
    width: 100vw;
    height: 100vh;
    max-width: 680px;
    margin: auto;
}
